# IDEs and editors
.idea/
.vscode/
.claude/
.gemini/
*.swp
*.swo

# Project specific
/infrastructures/services/airflow/data/
/infrastructures/services/airflow/logs/
/infrastructures/services/postgres/pgdata/

!/infrastructures/services/airflow/data/.gitkeep
!/infrastructures/services/airflow/logs/.gitkeep
!/infrastructures/services/airflow/pgdata/.gitkeep

/microservices/scraping-service/data/output/
!/microservices/scraping-service/data/output/.gitkeep

# Node.js
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.pytest_cache/
staticfiles/

# Database
/infrastructures/services/postgres/data/
