# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node/JS
node_modules/
dist/
.eslintcache

# Project specific
infrastructures/logs/
infrastructures/data/*.processed
!infrastructures/logs/.gitkeep
!infrastructures/plugins/.gitkeep
!infrastructures/data/.gitkeep
/.idea/.wiseGPT/
/.claude
/.gemini
