[run]
branch = True
relative_files = True
source =
    events

[report]
show_missing = True
skip_covered = False
precision = 1
omit =
    */migrations/*
    */tests/*
    manage.py
    events/admin.py
    events/admin_mixins.py
    events/admin_utils.py

[html]
directory = htmlcov
title = Events Coverage Report
