# Scrapy settings for events_scraper project
#
# Per maggiori informazioni:
# https://doc.scrapy.org/en/latest/topics/commands.html#configuration-settings

[settings]
default = settings

[deploy]
# Deploy su Scrapyd locale
project = events_scraper
url = http://localhost:6800/

[deploy:production]
# Deploy su Scrapyd in produzione
project = events_scraper
url = http://scrapyd:6800/
